/// @extend this at the root of your theme.
%bs-support {

	/// The default foreground color.
	--bs-default-foreground-color: black;
	color: var(--bs-default-foreground-color);

	/// The default background color.	
	--bs-default-background-color: white;
	background: var(--bs-default-background-color);

	/// Accent colors.
	--bs-default-accent-color-1: blue;
	--bs-default-accent-color-2: var(--bs-default-accent-color-1);
	--bs-default-accent-color-3: var(--bs-default-accent-color-2);

	/// The default paragraph font.	
	--bs-default-font-family: 'Arial', sans-serif;
	--bs-default-font-color: var(--bs-default-foreground-color);
	--bs-default-font-weight: normal;
	--bs-default-font-style: normal;
	--bs-default-font-size: 18px;
	--bs-default-line-height: 1.2;
	font-family: var(--bs-default-font-family); 
	font-weight: var(--bs-default-font-weight);
	font-style: var(--bs-default-font-style);
	font-size: var(--bs-default-font-size);
	line-height: var(--bs-default-line-height);

	/// The default heading font.	
	--bs-default-heading-font-family: var(--bs-default-font-family);
	--bs-default-heading-font-color: var(--bs-default-font-color);
	--bs-default-heading-font-weight: bold;
	--bs-default-heading-font-style: normal;
	--bs-default-heading-font-size: calc(var(--bs-default-font-size) * 1.5);
	--bs-default-heading-line-height: var(--bs-default-line-height);

	--bs-default-vertical-spacing: var(--bs-default-font-size);
	--bs-default-horizontal-spacing: var(--bs-default-font-size);

	/// Debug unstyled elements.
	// * { border: 1px solid red; }

	/// Block elements.
	%bs-block-base {
		display: block;
		padding: 0;
		margin: 0;
		border: 0;
	}
	address,article,aside,blockquote,canvas,dd,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hr,li,main,nav,noscript,ol,p,pre,section,table,tfoot,ul,video { 
		@extend %bs-block-base; 
	}

	/// Inline elements.
	%bs-inline-base {
		@extend %bs-block-base;
		display: inline;
	}
	a,abbr,acronym,b,bdo,big,br,button,cite,code,dfn,em,i,img,input,kbd,label,map,object,output,q,samp,select,small,span,strong,sub,sup,svg,textarea,time,tt,var { 
		@extend %bs-inline-base; 
	}

	// Typography.
	%bs-typography-base {
		margin-block-start: calc(var(--bs-default-vertical-spacing));
		margin-block-end: calc(var(--bs-default-vertical-spacing));
	}
	/// Paragraphs.
	p {
		@extend %bs-typography-base;
	}

	// Headings.
	%bs-heading-base {
		@extend %bs-typography-base;
		font-family: var(--bs-default-heading-font-family); 
		font-weight: var(--bs-default-heading-font-weight);
		font-style: var(--bs-default-heading-font-style);
		font-size: var(--bs-default-heading-font-size);
		line-height: var(--bs-default-heading-line-height);
		color: var(--bs-default-heading-font-color);
	}
	@for $i from 1 through 6 {
		h#{$i} { 
			@extend %bs-heading-base; 
			font-size: calc(var(--bs-default-heading-font-size) / (1 + (#{$i} - 1)/10));
		}
	}

	/// Lists.
	%bs-list-item-base {
		display: list-item;
	}
	li { @extend %bs-list-item-base; }
	%bs-list-base {
		@extend %bs-typography-base;
	}
	ul,ol { 
		@extend %bs-list-base; 
		margin-left: calc(var(--bs-default-horizontal-spacing) * 2);
	}

	/// Blockquotes
	%bs-blockquote-base {
		margin: 
			calc(var(--bs-default-vertical-spacing) * 2)
			calc(var(--bs-default-horizontal-spacing) * 2)
		;
		font-size: calc(var(--bs-default-font-size) * 1.2);
	}
	blockquote { @extend %bs-blockquote-base; }

	/// Links.
	%bs-link-base {
		color: var(--bs-default-accent-color-1);
	}
	a { @extend %bs-link-base; }
}
