$max-tablet-width: $min-desktop-width - 1;
$max-phone-width: $min-tablet-width - 1;

$default-margin-top: $default-text-size * $default-line-height * 0.75;
$default-margin-bottom: $default-text-size * $default-line-height * 0.75;

@import "core/reset.scss";
@import "core/responsive.scss";

@import "core/layouts/flow.scss";
@import "core/layouts/grid.scss";

@import "core/typography/inline-styles.scss";
@import "core/typography/icons.scss";
@import "core/typography/paragraphs.scss";
@import "core/typography/headings.scss";
@import "core/typography/links.scss";
@import "core/typography/lists.scss";
@import "core/typography/rules.scss";
@import "core/typography/tables.scss";
@import "core/typography/tabs.scss";

@import "core/ui/breadcrumbs.scss";
@import "core/ui/buttons.scss";
@import "core/ui/fields.scss";
@import "core/ui/fieldsets.scss";
@import "core/ui/pagination.scss";
@import "core/ui/progress.scss";
@import "core/ui/shortcuts.scss";

@import "core/page/body.scss";
@import "core/page/content.scss";
@import "core/page/footer.scss";
@import "core/page/header.scss";
@import "core/page/menu.scss";
@import "core/page/sidebar.scss";

%typography, %theme-root {
	
	// Set font defaults.
	font: $default-text-size $default-text-face, "Arial", sans-serif;
	line-height: $default-line-height;
	color: $default-text-color;
	
}

%typography {

	// Set layout to flow.
	@include flow-layout;

	// Set margins on block content.
	%block-content {
		margin-top: $default-margin-top;
		margin-bottom: $default-margin-bottom;
		box-sizing: border-box;
		display: block;
		float: none;
	}

}


// General print styling rules
%theme-root {
	@media print {
		* {
			background: transparent !important;
			color: #000 !important;
			box-shadow: none !important;
			text-shadow: none !important;
		}

		pre,
		blockquote {
			page-break-inside: avoid;
		}

		thead {
			display: table-header-group;
		}

		tr,
		img {
			page-break-inside: avoid;
		}

		img {
			max-width: 100% !important;
		}

		p,
		h2,
		h3 {
			orphans: 3;
			widows: 3;
		}

		h2,
		h3 {
			page-break-after: avoid;
		}
	}
}

@page {
	margin: 0.5cm;
}

