/** Menu **/
%main-navigation {
	position: relative;
	margin: ($default-text-size * 2) 0;

	ul {
		margin: 0;
		padding: 0;

		li {

			font-family: $default-heading-face;
			text-transform: uppercase;
			white-space: nowrap;

			margin: 0;
			padding: 0;
			list-style: none;

			a {
				text-decoration: none;
				font-weight: 500;
			}
		}
	}

	>ul {
		text-align: right;
		max-width: 100%;

		>li {
			display: inline-block;
			position: relative;
			text-align: left;

			>a {
				position: relative;
				z-index: 3;
				margin: 0 0.75em;
				padding: 0.25em;
				font-size: 110%;
				color: $header-foreground-color;
				display: inline;

				&.call-to-action {
					background: rgba($primary-hilight-color, 0.8);
					color: $default-background-color;
				}

				transition: background-color 250ms;

				>.menu-icon {
					margin-right: 5px;
				}
			}

			&.current>a,
			&.section>a {
				color: $primary-hilight-color;

				&.call-to-action {
					color: $default-background-color;
				}
			}

			&:hover>a,
			&:hover>a.call-to-action {

				border-bottom: 4px solid $primary-hilight-color;
				color: $primary-hilight-color;

				>.menu-icon {
					color: $tertiary-hilight-color;
				}
			}

			ul {
				position: absolute;
				z-index: 1;
				top: -99999px;
				right: 0;
				opacity: 0;
				transform: translateY(-5px);
				padding: 0.5em 0;
				background: $header-background-color;
				max-width: 240px;
				min-width: 100%;
				border-radius: 2px;
				box-shadow: 0 2px 2px 1px rgba(invert($default-background-color), 0.15);

				//transition: opacity 250ms 250ms, transform 250ms 250ms, top 0ms 500ms;

				@include touch-devices {
					display: none;
				}


				>li {
					>a {
						display: block;
						color: $header-foreground-color;
						padding: 0.5em 1em;
						font-size: 90%;

						//transition: color 250ms, background-color 250ms;

						>.menu-icon {
							margin-right: 5px;
						}
					}

					&.current>a,
					&.section>a {
						color: $primary-hilight-color;
					}

					&:hover>a {
						color: $default-background-color;
						background: $primary-hilight-color;
					}
				}
			}

			&:hover {
				>ul {
					top: 100%;
					top: calc(100% + 0.5em - 3px);
					opacity: 1;
					transform: translateY(0);
					z-index: 2;
					transition: opacity 250ms, transform 250ms;

					@include touch-devices {
						display: block;
					}
				}
			}
		}
	}

	@media print {
		display: none;
	}
}

%theme-root {

	#mm-main-menu {

		@extend %typography;

		z-index: 1;

		a {
			text-decoration: none;
			font-weight: normal;
			color: $default-text-color;

			>.menu-icon {
				margin-right: 5px;
			}
		}

		ul {
			padding-left: 0;
		}

		@media print {
			display: none;
		}
	}

	.mobile-menu-button {
		.menu-icon {
			color: $primary-hilight-color;
			font-size: 36px;
		}
	}

	// The following line is to allow space for the iPhone X notch
	// unquote is used so that the sass compiler does not compile the css max rule
	.mm-panels>.mm-panel {
		padding-left: unquote("max(env(safe-area-inset-left), 20px)");
	}

}
