%page-sidebar {

  %typography {
    %heading {
      color: $tertiary-hilight-color;
      text-decoration: underline !important;
    }
  }

  & > aside {

    & + aside {
      margin-top: $default-text-size * 2;
    }
  }

  blockquote {
    padding: 0;
    margin: 1em 0;
  }

  blockquote {
    p {
      margin-bottom: 0;
    }

    footer {
      display: block;
      font-size: 80%;
      color: mix($default-text-color, $default-background-color, 50%);

      &:before {
        content: '\2014 \00A0';
      }
    }
  }
}
