@import "../core.scss";

%typography {

	@include flow-layout();

	// // These classes are used to align block elements.
	// .center {
	// 	@extend %flow-escape-content-center;
	// }

	// .leftAlone {
	// 	@extend %flow-escape-content-left;
	// }

	// .alightleft {
	// 	@extend %flow-escape-content-left-wrapped;
	// }

	// .rightAlone {
	// 	@extend %flow-escape-content-right;
	// }

	// .alignright {
	// 	@extend %flow-escape-content-right-wrapped;
	// }

	// // These classes are used for text alignment.
	// .text-right {
	// 	@extend %flow-align-content-right;
	// }

	// .text-left {
	// 	@extend %flow-align-content-left;
	// }

	// .text-center {
	// 	@extend %flow-align-content-center;
	// }

	// .text-justify {
	// 	@extend %flow-justify-content;
	// }

	// // Images can be annotated with captions.
	// .captionImage {
	// 	&>img {
	// 		@extend %flow-escape-content-center;
	// 		@extend %block-content;
	// 		max-width: 100% !important;
	// 		margin-top: 0;
	// 	}

	// 	&>p.caption {
	// 		@extend %flow-align-content-center;
	// 		@extend %paragraph;
	// 		font-size: $default-text-size * 0.85 !important;
	// 		max-width: 100% !important;
	// 		margin-left: 0;
	// 		margin-right: 0;
	// 	}
	// }

	// .Actions,
	// .btn-toolbar,
	// .content-block {
	// 	@extend %block-content;
	// }

	// BUTTONS
	.wp-block-buttons {

		@extend %block-content;

		&.is-content-justification-left {
			text-align: left;
		}
		&.is-content-justification-center {
			text-align: center;
		}
		&.is-content-justification-right {
			text-align: right;
		}

		.wp-element-button {
			@extend %ui-button;
		}

	}

	// IMAGES
	.wp-block-image {
		@extend %block-content;
	}

}

%theme-root {

	.typography {
		@extend %typography;
	}

	.grid-aligned {
		@include on-tablet-or-larger {
			@include grid-layout(100%, 5%, 5%);
		}

		@include on-phone {
			@include ungrid-layout(100%, 5%);
		}
	}

	#page-body {

		#page-header {
			#main-menu {
				@extend %page-menu;
			}

			@extend %page-header;
		}

		#main-content {
			@extend %page-content;

			.side-bar {
				@extend %page-sidebar;
			}
		}

		#page-footer {
			@extend %page-footer;
		}

		@extend %page-body;
	}

}
