$progress-label-width: 140px;
$progress-button-width: 35px;

%progress-tick {
	display: none;
}

%progress-label {

	position: absolute;
	bottom: 120%;
	color: mix($default-text-color, $default-background-color, 75%);
	transform: translateX(-($progress-label-width - $progress-button-width)/2);
	width: $progress-label-width;
	font-size: $default-text-size * 0.75;
	text-align: center;

	@include on-tablet-or-smaller {
		display: none;
	}
}

%theme-root {
	.userform-progress {
		.progress-description {
			font-size: ($default-text-size * 0.9) !important;
		}

		.step-buttons {
			padding-left: 0;
			margin: -24px 0 0 0;
			max-width: 100%;
		}

		.step-button-wrapper {

			width: $progress-button-width;
			height: $progress-button-width;

			.step-button-jump {
				margin: 0;
				padding: 0;
				width: $progress-button-width;
				height: $progress-button-width;
				opacity: 1;
				border-radius: 50%;
				background: mix($primary-hilight-color, $default-background-color, 30%);
				font-size: $default-text-size * 0.9;

				.tick,
				&~.tick {
					@extend %progress-tick;
				}

				.label,
				&~.label {
					@extend %progress-label;
				}
			}

			&.viewed .step-button-jump {
				background: $primary-hilight-color;
			}

			&.viewed:not(.current) {
				.number {
					display: none;
				}

				.tick {
					display: block;
				}
			}
		}

		.progress {
			background: mix($primary-hilight-color, $default-background-color, 30%);
			border-radius: 5px;
			margin: 60px 10px 0 10px;
			height: 12px;

			.progress-bar {
				background: $primary-hilight-color;
				height: 12px;
			}
		}

		.step-navigation {
			.step-buttons {
				padding-left: 0;
			}
		}

	}
}
