@use '../base.scss';

%bs-grid-support {

	--bs-default-grid-total-width: 100vw;
	--bs-default-grid-horizontal-spacing: calc(var(--bs-default-grid-total-width) / 20);
	--bs-default-grid-vertical-spacing: calc(var(--bs-default-vertical-spacing) * 1);
	--bs-default-grid-margin: calc(var(--bs-default-grid-horizontal-spacing) / 2);

	/// Set this to 1 to conditionally disable the grid.
	--bs-default-grid-disabled: 0;	

	%bs-grid-layout-base {

		--bs-grid-total-width: var(--bs-default-grid-total-width) !important;
		--bs-grid-horizontal-spacing: var(--bs-default-grid-horizontal-spacing) !important;
		--bs-grid-vertical-spacing: var(--bs-default-grid-vertical-spacing) !important;
		--bs-grid-margin: var(--bs-default-grid-margin) !important;
		--bs-grid-disabled: var(--bs-default-grid-disabled) !important;

		@extend %bs-block-base;

		--bs-grid-calculated-column-width: calc(
			(
				var(--bs-grid-total-width) - 
				var(--bs-grid-horizontal-spacing) * 11 - 
				var(--bs-grid-margin) * 2 
			) / 12
		);
		--bs-grid-calculated-outer-padding-width: calc(
			var(--bs-grid-margin) - 
			var(--bs-grid-horizontal-spacing) / 2
		);

		padding-left: var(--bs-grid-calculated-outer-padding-width);
		padding-right: var(--bs-grid-calculated-outer-padding-width);
		row-gap: var(--bs-grid-vertical-spacing);
		width: var(--bs-grid-total-width);
		
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-wrap: wrap;

		@for $count from 1 through 12 {
			.bs-span-#{$count} {

				@extend %bs-block-base;

				/// Whoa, what a hack!  We're using the `max` function along
				/// with the 0,1 value of `--bs-grid-disabled` to allow the grid
				/// to be turned on/off via a CSS variable switch.
				width: max(
					calc(
						var(--bs-grid-calculated-column-width) * #{$count} + 
						var(--bs-grid-horizontal-spacing) * #{$count - 1}
					),
					var(--bs-grid-disabled) * 100%
				);

				margin-left: calc(var(--bs-grid-horizontal-spacing) * 0.5);
				margin-right: calc(var(--bs-grid-horizontal-spacing) * 0.5);

				box-sizing: border-box;
				position: relative;
				max-width: 100%;

			}
		}

		.bs-span-all { 
			@extend .bs-span-12;
			width: calc((100% - var(--bs-grid-horizontal-spacing) * 1) / 1 * 1);
		}
		.bs-span-three-quarters { 
			@extend .bs-span-9; 
			width: calc((100% - var(--bs-grid-horizontal-spacing) * 4) / 4 * 3);
		}
		.bs-span-two-thirds { 
			@extend .bs-span-8; 
			width: calc((100% - var(--bs-grid-horizontal-spacing) * 3) / 3 * 2);
		}
		.bs-span-one-half { 
			@extend .bs-span-6; 
			width: calc((100% - var(--bs-grid-horizontal-spacing) * 2) / 2 * 1);
		}
		.bs-span-one-third { 
			@extend .bs-span-4; 
			width: calc((100% - var(--bs-grid-horizontal-spacing) * 3) / 3 * 1);
		}
		.bs-span-one-quarter { 
			@extend .bs-span-3; 
			width: calc((100% - var(--bs-grid-horizontal-spacing) * 4) / 4 * 1);
		}

	}

	.bs-grid-layout {

		@extend %bs-grid-layout-base;

		// When you embed a grid-layout in a grid-layout, its margins collapse
		// so everything continues to line up.
		.bs-grid-layout {
			margin-left: calc(var(--bs-grid-margin) * -1) !important;
			margin-right: calc(var(--bs-grid-margin) * -1) !important;
			max-width: calc(100% + var(--bs-grid-margin) * 2) !important;
		}
		
	}
	
}



// @use "sass:math";

// /// A mixin to create a twelve-column, grid-based layout.
// /// 
// /// Specify the overall width and gutter width and column sizes will be
// /// automatically calculated for you.  Works best with absolute dimensions (vw,
// /// px); don't use percentages..
// /// 
// /// @param $total_width The overall width of the grid.
// /// @param $gutter The width of the gutter between columns.
// /// @param $outer Added padding to the left of the first column and right of the
// /// last column. Defaults to 1/2 $gutter.
// @mixin grid-layout($total_width, $gutter, $outer: $gutter * 0.5) {

// 	// Enable to visually indicate the grid.
// 	$debug: false;

// 	// Calculate outer width from total, gutter & column.
// 	$column: math.div($total_width - $gutter * 11 - $outer * 2, 12);

// 	@include reset-spacing;

// 	box-sizing: border-box;
// 	max-width: $total_width;
// 	position: relative;
// 	margin: 0 auto;
// 	padding: 0 ($outer - $gutter * 0.5);
// 	width: 100%;
// 	display: flex;
// 	flex-wrap: wrap;

// 	& .grid-aligned {
// 		margin-left: -$outer !important;
// 		margin-right: -$outer !important;
// 		width: auto;
// 		padding: 0;
// 	}

// 	@for $count from 1 through 12 {
// 		$span-width: $column * $count + $gutter * $count - $gutter;

// 		&>.span-#{$count},
// 		&>.span-all {
// 			@include reset-spacing;

// 			@if $debug {
// 				background: rgba(255, 0, 0, 0.1);
// 			}

// 			width: $span-width;
// 			box-sizing: border-box;
// 			margin: 0 ($gutter * 0.5);
// 			position: relative;
// 			float: left;

// 			.width-one-half {
// 				width: ($span-width - $gutter) * 0.5;
// 			}

// 			img {
// 				max-width: 100%;
// 				height: auto;
// 			}
// 		}
// 	}

// 	@for $count from 0 through 11 {
// 		&>.offset-#{$count} {
// 			margin-left: ($column * $count + $gutter * $count + $gutter * 0.5) !important;
// 		}
// 	}

// 	@media screen and (min-width: $min-tablet-width) and (max-width: $min-desktop-width - 1) {
// 		@for $count from 1 through 12 {

// 			&>.tablet-span-all,
// 			&>.tablet-span-#{$count} {
// 				width: $column * $count + $gutter * ($count - 1);
// 			}
// 		}

// 		@for $count from 0 through 11 {
// 			&>.tablet-offset-#{$count} {
// 				margin-left: ($column * $count + $gutter * 0.5 * ($count * 2 + 1)) !important;
// 			}
// 		}
// 	}

// 	&:after {
// 		content: ' ';
// 		display: block;
// 		clear: left;
// 	}
// }

// @mixin ungrid-layout($total_width, $margin, $spacing: 1em) {
// 	display: block !important;

// 	@for $count from 1 through 12 {

// 		&>.span-all,
// 		&>.span-#{$count},
// 		&>.tablet-span-all,
// 		&>.tablet-span-#{$count} {
// 			width: auto !important;
// 			margin-right: $margin !important;
// 			margin-left: $margin !important;

// 			// The following lines are to allow space for the iPhone X notch
// 			// unquote is used so that the sass compiler does not compile the css max rule
// 			margin-right: unquote("max(env(safe-area-inset-right), #{$margin}) !important");
// 			margin-left: unquote("max(env(safe-area-inset-left), #{$margin}) !important");
// 			float: none !important;

// 			.width-one-half {
// 				width: ($total_width - $margin*2) * 0.5;
// 			}

// 			img {
// 				max-width: 100%;
// 				height: auto;
// 			}

// 			& & {
// 				margin: 0 !important;
// 			}
// 		}

// 		& & {
// 			margin: 0 !important;
// 		}

// 		*+.span-all,
// 		*+.span-#{$count},
// 		*+.tablet-span-all,
// 		*+.tablet-span-#{$count} {
// 			margin-top: $spacing !important;
// 		}
// 	}
// }

