%typography {
 
  %list, ul, ol {

	@extend %block-content;

    padding-left: 2.5em;

    li {
      display: list-item;
    }

  }

  ul li {
    list-style-type: disc;

    li {
      list-style-type: circle;

      li {
        list-style-type: square;
      }
    }
  }

  ol li {
    list-style-type: decimal;

    li {
      list-style-type: lower-alpha;

      li {
        list-style-type: lower-roman;
      }
    }
  }
  
}
