%typography {
 
  %list {
	@extend %block-content;
    padding-left: 1.5em !important;

	& %list {
		margin-top: 0;
		margin-bottom: 0;
	}
  }

  %list-item {
	display: list-item;
  }

  ul, .ul, ol, .ol {
	@extend %list;
  }

  ul li {

	@extend %list-item;
    list-style-type: disc;

    li {
      list-style-type: circle;

      li {
        list-style-type: square;
      }
    }
  }

  ol li {

	@extend %list-item;
	list-style-type: decimal;

    li {
      list-style-type: lower-alpha;

      li {
        list-style-type: lower-roman;
      }
    }
  }
  
}
