@mixin flow-layout {

  @include reset-spacing;

  // Basic text alignment.
  %flow-align-content-left {
    text-align: left;
  }

  %flow-align-content-right {
    text-align: right;
  }

  %flow-align-content-center {
    text-align: center;
  }

  %flow-justify-content {
    text-align: justify;
  }

  // Escaping the basic flow.
  %flow-escape-defaults {
    
    @extend %block-content;
    
    height: auto;
    max-width: 100%;

    @media print {
      margin-top: $default-text-size * 0.5;
      margin-bottom: $default-text-size * 0.5;
    }

  }

  %flow-escape-content-center {
    @extend %flow-escape-defaults;
    margin-left: auto;
    margin-right: auto;
  }

  %flow-escape-content-left {
    @extend %flow-escape-defaults;
    margin-left: 0;
  }

  %flow-escape-content-right {
    @extend %flow-escape-defaults;
    margin-right: 0;
  }

  %flow-escape-content-left-wrapped, %flow-escape-content-right-wrapped {
    @extend %flow-escape-defaults;
    max-width: 50%;
    margin-top: 0.5ex;
  }

  %flow-escape-content-left-wrapped {
    margin-right: $default-text-size * 2;
    float: left;
  }

  %flow-escape-content-right-wrapped {
    margin-left: $default-text-size * 2;
    float: right;
  }

}
